.article {
  max-width: 900px;
  margin: 0 auto;
  /*padding: 120px 24px 80px;*/
  color: rgba(0, 0, 0, 0.87);
}

.article_header {
  margin-bottom: 48px;
}

.meta {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-top: 8px;
}

.description {
  margin-top: 16px;
  font-size: 1.1rem;
}

.article_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.paragraph {
  line-height: 1.8;
  font-size: 1.05rem;
  white-space: pre-line; /* important pour JSON */
}

.highlight {
  font-size: 1.4rem;
  font-style: italic;
  padding-left: 16px;
  border-left: 3px solid #000;
}

.image_block {
  width: 100%;
  margin: 24px 0;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.credit {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-top: 8px;
}
