.music_item {
    aspect-ratio: 1 / 1;
    background: #111;
    color: #fff;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-enby_gertrude);
    font-size: 1.2rem;

    transition:
        transform 0.25s ease,
        background-color 0.25s ease;
}

.music_item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 🔑 */
    display: block;
}

.music_item:hover {
    /*transform: opacity(0.8);*/
    opacity: 0.9;
}

.music_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

/*.music_grid:hover .music_item {
    transform: scale(0.97);
}*/

/*.music_item:hover {
    transform: scale(1.05) !important;
}*/

.music_card__link_wrapper {
    display: block;
    color: inherit;
    text-decoration: none;
}
